name: "Release"
on: 
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with: 
        ref: 'main'
    - name: Keep dist up-to-date
      run: |
        npm i
        npm run build
        git add dist/index.js
        git commit -m "chore: publish dist" || echo "nothing to commit"
        git push origin main
    - uses: actions/checkout@v2
      with:
        ref: main
    - name: Test Action
      uses: ./
      with: 
        KEYS: |
          main
          foobar       
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: main 
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v2
      with:
        extra_plugins: |
          "@semantic-release/commit-analyzer"
          "@semantic-release/release-notes-generator"
          "@semantic-release/git
          "@semantic-release/github
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
